@font-face {
  font-family: "sd";
  src: url("./fonts/futura_bold_font-webfont.woff2") format("woff2"),
    url("./fonts/futura_bold_font-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "futura_md_btbold_italic";
  src: url("./fonts/futura_bold_italic_font-webfont.woff2") format("woff2"),
    url("./fonts/futura_bold_italic_font-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "futura_bk_btbook";
  src: url("./fonts/futura_book_font-webfont.woff2") format("woff2"),
    url("./fonts/futura_book_font-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "futurabook_italic";
  src: url("./fonts/futura_book_italic_font-webfont.woff2") format("woff2"),
    url("./fonts/futura_book_italic_font-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "futura_xblk_btextra_black";
  src: url("./fonts/futura_extra_black_font-webfont.woff2") format("woff2"),
    url("./fonts/futura_extra_black_font-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Futura-Bold";
  src: url("./fonts/futura_heavy_font-webfont.woff2") format("woff2"),
    url("./fonts/futura_heavy_font-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "futura_hv_btheavy_italic";
  src: url("./fonts/futura_heavy_italic_font-webfont.woff2") format("woff2"),
    url("./fonts/futura_heavy_italic_font-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Futura-CondensedLight";
  src: url("./fonts/futura_light_font-webfont.woff2") format("woff2"),
    url("./fonts/futura_light_font-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FuturaBT-Medium";
  src: url("./fonts/futura_medium_bt-webfont.woff2") format("woff2"),
    url("./fonts/futura_medium_bt-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Futura-CondensedMedium";
  src: url("./fonts/futura_medium_condensed_bt-webfont.woff2") format("woff2"),
    url("./fonts/futura_medium_condensed_bt-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
